<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[*.Tests]*</Exclude>
          <ExcludeByFile>**/Storage/Kernel/FasterKV/FASTER/**;**/Storage/Kernel/VarLen/**;**/Storage/Kernel/Epochs/**;**/Storage/Kernel/Device/NativeInterop/**;**/Storage/Kernel/Utilities/Native*.cs;**/Storage/Kernel/Utilities/SectorAlignedIOHelper.cs</ExcludeByFile>
          <ExcludeByAttribute>CompilerGenerated,ExcludeFromCodeCoverage</ExcludeByAttribute>
          <SkipAutoProps>true</SkipAutoProps>
          <SingleHit>false</SingleHit>
          <UseSourceLink>false</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
